
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #EE9CA7, #FFDDE1,#DDD6F3);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

  .font{
    font-family:serif;
    color: black;
    
    
  }
  .color{
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue" ;
    
    color:black;
    
  }
  .shopname{
    color:rgb(188, 25, 58);
    font-size: 1.5cm;
    text-align: center;
    font-style: italic;
    font-weight: 500 ;
    font-family:serif;
  
 
  
  }
 #img{
    opacity:1;
    filter: alpha(opacity=30);
    overflow: hidden;
    border-radius: 5%;
    
 }
 #img:hover{
    opacity:0.5;
    filter: alpha(opacity=100);
    
    -moz-box-shadow: 0 0 10px #47517a;
    -webkit-box-shadow: 0 0 10px #625e5e;
    box-shadow: 0 0 10px #555054;
    transition: 0.5s all ease-in-out;  
  }

  .logo{
    margin-left: 20px;
  }

  ul{
    color: black;
    list-style-type: none;
  }
  
  li{
    color: black;
    list-style-type: none;
  }

  .carousel-img{
    margin: 40px;

  
  }

 button{
  border: 0;
 }


 marquee {
    width: 100%;
    padding-bottom: 10px;
    color: var(--bg-color);
    font-family: 'Libre Baskerville', serif;
    font-size:3rem;
    margin-bottom: -75px;
 }
 
 .logo-img {
  transition: .5s ease;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
 }

 .container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


:root {
  --bg-color:#c33764;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 40px;
      margin-bottom: 20px;
      
      font-family: 'Abril Fatface', serif;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.mt-4 {
  display: flex;
  justify-content: center;
}
.card1{
  --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    /* --bs-card-border-color: var(--bs-border-color-translucent); */
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}


#navhover {
  opacity: 1;
}

#navhover:hover {
  opacity: 0.6;
  transition: 0.2s all ease-in-out; 
}
.text-white{
  color:#EE9CA7
}


/*pricing

 Card*/
.pr{
  display:flex;
}
h1 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500;
}

.pricing-card {
    width: 500px;
    font-family: 'Open Sans';
    display:inline;
    margin: 75px auto;
    box-shadow: 15px 30px 30px 0 rgba(220, 36, 48, 0.15);
}

.card-left {
    text-align: center;
    background: linear-gradient(65deg, #7b4397 , #dc2430);
    color: #fff;
    width: 100%;
    padding: 10px 0px;
    border-radius: 6px 6px 0 0;
}



.card-left p {
    font-size: 30px;
}



.card-right {
    text-align: left;
    
    width: 100%;
    color: #dc2430;
    border-radius: 0 6px 6px ;
    padding: 0px 0px;
}

.card-right h1 {
    margin-bottom: 15px;
    color: #292e31;
    opacity: 0.9;
}

.card-right ul {
    margin-bottom: 40px;
}

.card-right li {
    padding-bottom: 6px;
}

.button {
    text-decoration: none;
    color:  #AD1457;
    background: #dc2430;;
    padding: 20px 80px;
    border-radius: 100px;
    transition: all 500ms ease;
}

.button:hover {
    background: #7b4397;
}


.vi{
  border-radius: 5px;
  box-shadow: 0 4px 8px 0  #dc243026, 0 6px 20px 0 #e675a0;
 
}
.textss{
  font-family: serif;
  text-shadow: 2px 2px #7b4397;
  font-size: 2rem;
  color: #AD1457;
  
}
.tes-des{
  padding-left: 35px;
 
  text-shadow: 2px 2px #7b4397;
  text-align: center;
  font-family: serif;
  color: #AD1457;
  font-weight: bold;
  font-size: 3rem;
}
.bbg{
  background: url(./images/testimonial-image.jpg);
  background-size: cover;
  
}
/*prduct*/

@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'DM-sans', sans-serif;
}

.header {
  font-size: 24px;
  text-align: center;
}

container {
  width: 100%;
  max-width: 1200px;
  border-radius: 4px;
 
}

.content {
  display:flex;
  flex-wrap:wrap;
  
}

.wrapper {
  width: 33.3%;
  height: 100%;
  padding: 10px;
}

.name {
  position: relative;
  font-size: 16px;
  display: inline-block;
  
  &:after {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: 1px;
    background-color: #000;
    bottom: -4px;
    left: 0;
  }
}

.box {
  position: relative;
  max-height: 400px;
  max-width: 500px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow:
  0 1.4px 1.7px rgba(0, 0, 0, 0.017),
  0 3.3px 4px rgba(0, 0, 0, 0.024),
  0 6.3px 7.5px rgba(0, 0, 0, 0.03),
  0 11.2px 13.4px rgba(0, 0, 0, 0.036),
  0 20.9px 25.1px rgba(0, 0, 0, 0.043),
  0 50px 60px rgba(0, 0, 0, 0.06);
  
  .hide { opacity: 0; }
  
  .frame {
    position: absolute;
    border: 1px solid #fff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h2, p {
    position: absolute;
    color: #fff;
    z-index: 2;
    width: 100%;
    transition: opacity 0.2s, transform 0.3s;
  }
  
  h2 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
  
  p {
    bottom: 0;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  &:hover {
    transition: all .3s ease-in-out;
  }
  
  &:hover:before {
    transition: all .3s ease-in-out;
  }
  
  img {
    position:relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .3s ease-in-out;
    
    &:hover {
      transition: all .3s ease-in-out;
    }
    
    &:after {
      content: '';
      position: absolute;
      background-color: rgba(0,0,0,.6);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
    
    &:hover {
      transition: all .3s ease-in-out;
    }
  }
}

.zoom-in{
  h2 {
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    margin: 0;
  }
  
  p {
    text-align: center;
    top: calc(50% + 40px);
    transition: all .3s ease;
    transform: scale(1.8);
    opacity: 0;
  }
  
  &:hover {
   img {
    transform: scale(1.1);
    filter: grayscale(100%);
   } 
    
    p {
      transform: scale(1);
      transition: all .3s ease;
      opacity: 1;
    }
  }
}

.w-content {
  .frame {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: transparent;
  }
  
  h2 {
    margin-top: 0;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    letter-spacing: 1px;
  }
  
  p { transform: translate3d(0, -10px, 0); }
  
  &:hover {
    .frame {
      border-color: #fff;
      transition: color .3s ease-in-out, all .3s ease-in-out;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }
    
    opacity: 0.8;
  }
}

.postcard {
  h2 {
    top: 50%;
    text-align: left;
    transform: translate3d(50px, 20px, 0);
  }
  
  p {
    transform: translate3d(40px, 60px, 0);
    font-size: 24px;
    letter-spacing: 1px; 
  }
  
  &:hover {
    h2 { transform: translate3d(20px, 20px, 0); }
    p { opacity: 1; }
    
    img {
      filter: opacity(0.7);
      transform: translate3d(-30px, 0, 0);
    }
  }
}

.blury-card {  
  .frame {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    opacity: 0;
    transition: all .3s ease-in-out
  }
  
  h2 , p {
    text-align: center;
    top: 50%;
    transform: translatey(-50%);
    margin: 0;
    z-index: 3;
  }
  
  p { 
    transform: translatey(30px);
    letter-spacing: 3px;
  }
  
  span {
    font-size: 24px;
  }
  
  &:before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #008E6B;
    z-index: 1;
    left: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
  }
  
  img {  z-index: 2; }
  
  &:hover {
    .frame {
      width: calc(100% - 120px);
      height: calc(100% - 120px);
      opacity: 1;
    }
    
    img { opacity: .7; }
    
    &:before {
      opacity: 1;
      transition: all .3s ease-in-out;
    }
  }
}

.vintage {
  h2 { 
    top: 50%;
    transform: translate3d(0, 60px, 0);
    text-align: center; 
  }
  
  p { 
    opacity: 0;
    bottom: 0;
    transform: translate3d(0, -10px, 0);
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
  }
  
  &:before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    z-index: 2;
    bottom: -100%;
    left: 0;
  }
  
  &:hover:before {
    bottom: 0;
  }
  
  &:hover {
    h2 {
      bottom: 40px;
      transform: translate3d(0, 20px, 0);
    }
    
    p {
      opacity: 1;
      transform: translate3d(0, -30px, 0);
    }
  }
}

.zoom-out {
  .frame {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
  
  h2 { 
    font-size: 20px; 
    font-weight: 300; 
    margin-left: 10px;
    letter-spacing: 1px;
  }
  span { font-size: 24px; font-weight: 500; }
  
  p {
    max-width: 120px;
    text-align: right;
    margin: 10px;
    right: 0;
  }
  
  img { transform: scale(1.1); }
  &:hover img { 
    transform: scale(1);
    filter: contrast(70%);
  }
}

@media screen and (max-width: 880px) {
  .wrapper {
    width: 50%;
}


@media screen and (max-width: 520px) {
  .wrapper {
    width: 100%;
  }
}
}